.buttonStyle {
  display: flex;
  align-items: center;
  border: 0;
  background: #3D3D3D;
  cursor: pointer;
  width: 200px;
  justify-content: center;
  height: 30px;
  outline: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

h2{
  color: #3D3D3D
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
 
}